*{
    font-family: 'Urbanist',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  background: rgb(8,6,55);
  background: rgb(184, 214, 240)
}


.main-heading{
    font-size: 3rem;
    color:rgb(255, 255, 255);
    font-family: 'Urbanist';
    letter-spacing: 4px;
    font-weight: bolder;
    font-style: italic;
}

.container{
    position: relative;
}

.form-select{
   font-size: 2.7rem;
   border-radius: .8rem;
   border: 2px solid black;
   filter: drop-shadow(4px 4px 4px white);
   cursor: pointer;
   font-weight: 400;

}

.options {
    
    border-radius: .9rem;
    cursor: pointer; /* Font weight */
    /* Add more styles as needed */
  }

.selected-semester{
    font-size: 3rem;
    font-family: 'Urbanist';
    font-weight: bolder;
}


.link-button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.link-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.link-button:active {
  color: #000;
}

.link-button:active:after {
  background: transparent;
}

.link-button:hover:before {
  opacity: 1;
}

.link-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}
